<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdsY_-hvjvj4fZKBoSIRyIrrmtTVlvYQs</string>
	<key>GCM_SENDER_ID</key>
	<string>162583006610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.code</string>
	<key>PROJECT_ID</key>
	<string>the-electrification-index</string>
	<key>STORAGE_BUCKET</key>
	<string>the-electrification-index.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162583006610:ios:5a9d85f4a7e93cc7ac454b</string>
</dict>
</plist>